<%= form_for(current_user.user_retweet_relations.build, data: { confirm: "You sure?"}) do |f| %>
  <div><%= hidden_field_tag :micropost_id, micropost.id %></div>
  <%= f.submit "Retweet", class: "btn btn-xs btn-default" %>
<% end %>
